*{
    margin:0;
    padding:0;
}

.main{
    width:100%;
    background-image: url(beautiful-scenery-yellow-tents-kilimanjaro-national-park.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height:100vh;
}
.navbar{
    height:75px;
    margin:auto;
    background-color:rgba(0, 0, 0, 0.1);
}
.icon{
    width:200px;
    float: left;
    height:70px;
}
.logo{
    color:#8CDFFD;
    font-size: 35px;
    font-weight: bold;
    padding-left: 20px;
    float: left;
    padding-top:10px;
}
.menu{
    width:400px;
    float:left;
    height:70px;
}
ul{
    float:left;
    display: flex;
    justify-content:center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 75px;
    margin-top: 27px;
    font-size: 16px;
}
ul li a{
    text-decoration: none;
    color:#fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color:#8CDFFD;
} 
.rightSide{
    width:250px;
    float:right;
    margin-left:300px;
    margin-top:10px;
}
/* .logIn{
    width:330px;
    float:center;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color:rgb(183, 13, 27);
    font-family: 'Roboto', sans-serif;
} */

.btn1 {
    cursor: pointer;
    border: 1px solid #3498db;
    background-color: transparent;
    height: 40px;
    width: 130px;
    border-radius: 10px;
    color: #3498db;
    font-size: 15px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}
.content{
    width:1200px;
    height:auto;
    margin:auto;
    color:black;
    position:relative;
}

.content h1{
    font-family:'Times New Roman';
    font-size:50px;
    padding-left:15px;
    margin-top:10px;
    letter-spacing: 1px;
}
.content{
    width:1200px;
    height: auto;
    margin:auto;
    color: #fff;
    position: relative;
}
.content .para{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 25px;
}
.content h1 {
    padding-left:20px;
    margin-top: 3%;
    letter-spacing: 1px;
}

.content .btn2{
  width:160px;
  height: 40px;
  background-color: #3498db;
  border:none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: medium;
  cursor: pointer;
  transition: .4s ease;
}
.content .btn2:hover{
    background-color: #ACDFF8;
}
.content .btn2 a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}
.content span{
    color:#9D9BD9;
    font-size: 50px;
}
.content .para1{
    height: 10px;
    width:auto;
    margin-top: 6%;
    margin-left:30px;
    color:#2193B0;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 10px;
    font-family: 'Poltawski Nowy', serif;
}
/* p{
    text-decoration: underline wavy #DDD;
} */
.form{
    width: 250px;
    height: 370px;
    background-color:#000001;
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    /* border-radius: 0px 32px 64px 96px; */
    /* border-radius:64px 32px; */
    padding: 25px;
}
.form h2{
    width: 240px;
    font-family: sans-serif;
    text-align: center;
    background-color: #7C6AA6;
    /* background-color: #fff; */
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
    border-radius:40px ;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 250px;
    height: 35px;
    border: none;
    background:transparent;
    border-bottom: 1px solid #fff;
    color:#fff;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 20px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: #fff;
    font-family: Arial;
}
.btn3{
    width: 250px;
    height: 35px;
    background-color: #7C6AA6;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-family: sans-serif;
}
.btn3:hover{
    background-color: #BDB2CF;
}
.btn3 a{
    text-decoration: none;
    color:#fff;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top:20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color:red;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.iconn a{
    text-decoration: none;
    color: #fff;
}
.iconn i{
    color:#fff;
    font-size: 26px;
    padding-left: 10px;
    padding-top: 10px;
    transition: 0.3s ease;
}
.iconn i:hover{
    color: #7C6AA6;
}
.marquee{
    color: #F1AFD4; 
    font-size: 2em;
}